.navbar {
  background-color: var(--global-bg-color);
  border-bottom: 1px solid var(--global-divider-color);
  box-shadow: none;
  opacity: 0.95;
  top: 0;
}

@media (min-width: 576px) {
  .navbar .navbar-brand {
    display: none;
  }

  .navbar > .container {
    justify-content: center;
  }

  .navbar .navbar-collapse-main {
    flex-basis: auto;
    flex-grow: 0;
    justify-content: center;
    width: auto;
  }

  .navbar .navbar-menu-list {
    align-items: center;
    justify-content: center;
  }
}
